$length-base-module: 64px;
$length-medium: 32px;
$length-small: 16px;
$length-tiny: 8px;

$color-text-base: #222;
$color-text-active: rgb(36, 41, 73);

$color-bg-active: #d2d2d2;

// breakpoints
$width-tablet: 600px;
